$b: #19b9e7;
$g: #555;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
  background-image: url(./img/overlay.png), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("./bg.jpg");
  background-image: url(./overlay.png), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("./bg.jpg");
  background-image: url(./overlay.png), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("./bg.jpg");
  background-image: url(./overlay.png), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("./bg.jpg");
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 100px 100px, cover, cover;
  background-position: top left, center center, bottom top;
  background-attachment: fixed, fixed, fixed;
}

strong {
  font-weight: 500;
}

a,
a:focus,
a:hover {
  color: $b;
  text-decoration: none;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

h1,
h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 100;
  color: $g;
  line-height: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  color: $g;
  line-height: 30px;
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: $b;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $b;
  color: #fff;
  text-shadow: none;
}

.navbar {
  padding-top: 10px;
  background: #333;
  background: rgba(51, 51, 51, 0.3);
  border: 0;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;

  &.navbar-no-bg {
    background: none;
  }
}

ul.navbar-nav {
  font-size: 16px;
  color: #fff;
}

.navbar-inverse ul.navbar-nav li {
  padding-top: 8px;
  padding-bottom: 8px;

  & .li-text {
    opacity: 0.8;
  }

  & a {
    display: inline;
    padding: 0;
    color: #fff;
  }

  & a:hover {
    color: #fff;
    opacity: 1;
    border-bottom: 1px dotted #fff;
  }

  & a:focus {
    color: #fff;
    outline: 0;
    opacity: 1;
    border-bottom: 1px dotted #fff;
  }

  & .li-social a {
    margin: 0 5px;
    font-size: 28px;
    vertical-align: middle;

    & a:focus,
    &:hover {
      border: 0;
      color: #19b9e7;
    }
  }
}

.navbar-inverse .navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  color: #fff;
}

.inner-bg {
  padding: 40px 0 170px;
}

.top-content {
  .text {
    color: #fff;

    h1 {
      color: #fff;
    }
  }

  .description {
    margin: 20px 0 10px;

    p {
      opacity: 0.8;
    }

    a {
      color: #fff;

      &:focus,
      &:hover {
        border-bottom: 1px dotted #fff;
      }
    }
  }

  .top-big-link {
    margin-top: 35px;
  }
}

.form-box {
  padding-top: 40px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px;
  min-height: 15em;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;

  h3 {
    margin-top: 0;
  }
}

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}

.form-bottom {
  padding: 25px 25px 30px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;

  form textarea {
    height: 100px;
  }

  form .input-error {
    border-color: #19b9e7;
  }
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 10px 12px;
    font-size: 14px;

    &:nth-child(odd) {
      border-left: 3px solid #E5FAFA;
    }

    &:nth-child(even) {
      border-left: 3px solid #CCF5F5;
    }
  }

  &:last-child {
    margin-bottom: 43px;
  }
}
/***** Media queries *****/
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (max-width: 767px) {
  .navbar {
    padding-top: 0;

    &.navbar-no-bg {
      background: rgba(51, 51, 51, 0.4);
    }
  }

  .navbar-brand {
    height: 60px;
    margin-left: 15px;
  }

  .navbar-collapse {
    border: 0;
  }

  .navbar-toggle {
    margin-top: 12px;
    border: none;
  }

  .navbar-inverse .navbar-toggle:focus,
  .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
    border: none;
  }

  .inner-bg {
    padding: 40px 0 110px;
  }

  .top-content .top-big-link {
    margin-top: 25px;
  }

  .top-content .top-big-link a.btn {
    margin-top: 10px;
  }
}
@media (max-width: 415px) {
  h1,
  h2 {
    font-size: 32px;
  }
}
